@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

body {
  background-color: #0E090D;
  font-family: var('--font-mango-grotesque')
}

::selection {
  background-color: #FB4666; /* Change this to your desired background color */
  color: black;              /* Change this to your desired text color */
}

/* For WebKit browsers */
::-moz-selection {
  background-color: #FB4666; /* Change this to your desired background color */
  color: black;              /* Change this to your desired text color */
}

.mini-text {
  font-family: 'PP Neue Montreal', sans-serif;
}

/* Slide-up animation */
.slide-up {
  transition: transform 0.8s ease-in-out; /* Control the duration of the slide-up */
  transform: translateY(0); /* Initial position */
}

.slide-up {
  transform: translateY(-100%); /* Slide up out of view */
}

/* Pseudo-element to create the circular dot */
.activenavlink::after {
  color: white;
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Positioning it relative to the link */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Centering adjustment */
  width: 4px; /* Width of the dot */
  height: 4px; /* Height of the dot */
  background-color: #FB4566; /* Dot color */
  border-radius: 50%; /* Makes it circular */
  transition: background-color 0.3s; /* Optional: Add a transition for hover effect */
}

/* Logo Glow Effect */
.hover\\:glow:hover {
  box-shadow: 0 0 8px 4px rgba(232, 73, 95, 0.6), 0 0 20px rgba(232, 73, 95, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

/* Circle with Animated Gradient */
.gradient-circle {
  position: relative;
  border-radius: 50%;
  background: linear-gradient(270deg, #FE8569, #F04462, #FE8569, #F04462);
  animation: complex-gradient-animation 1s ease-in-out infinite;
  width: 100%;
  height: 100%;
}

/* Animation for Gradient */
@keyframes complex-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-link {
	overflow: hidden; /* Ensures nothing beyond the bounds of the link is visible */
	display: inline-block;
	position: relative;
	padding: 5px 10px;
	text-decoration: none;
}

.home-link-text {
	position: relative;
	display: block;
	transition: transform 0.3s ease;
}

.home-link-hover-text {
	position: absolute;
	top: 100%; /* Ensure the hover text is fully hidden below */
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	transform: translateY(0); /* Initially positioned completely off-screen */
	transition: transform 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-link:hover .home-link-text {
	transform: translateY(-120%); /* Move the main text up by 120% */
}

.home-link:hover .home-link-hover-text {
	transform: translateY(-100%); /* Bring the hover text up into view */
}
