@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0E090D;
  font-family: 'Mango Grotesque', sans-serif;
}

/* Slide-up animation */
.slide-up {
  transition: transform 0.8s ease-in-out; /* Control the duration of the slide-up */
  transform: translateY(0); /* Initial position */
}

.slide-up {
  transform: translateY(-100%); /* Slide up out of view */
}

.navlinks {
  opacity: 0.6;
}

.navlinks:hover {
  opacity: 1;
}

.activenavlink {
  opacity: 1;
  border-bottom: 2px solid #FB4566;
  border-radius: 0 0 2px 2px;
}


